*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
    background-color: rgb(48, 15, 70);
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-gap: 7px; */
}

/* CONTENT */

.container-content{
    padding: 0 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.content{
    width: 90%;
    color: aliceblue;
    font-size: 22px;
}

span{
    color: #e36627;
    font-size: 25px;
}

/* FORM */

.container-login{
    padding: 0 2rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo-text{
    position: relative;
    bottom: 20px;
    width: 450px;
}

form{
    width: 360px;
}

.input-field{
    position: relative;
}

.input-field input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    background: transparent;
    color: rgb(48, 15, 70);
    margin-bottom: 30px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(48, 15, 70);
}

.input-field label{
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 0;
    font-size: 23px;
    color: rgb(48, 15, 70);
    pointer-events: none;
    transition: .5s;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label
{
    top: -21px;
    left: 0;
    color: #e36627;
    font-size: 18px;
}

form input[type="submit"]{
    width: 100%;
    background: transparent;
    color: #fff;
    background-image: linear-gradient(to right, rgb(48, 15, 70), #e36627);
    background-size: 160%;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: .5s;
    cursor: pointer;
    border: none;
    outline: none;
}

form input[type="submit"]:hover{
	background-position: right;
}

.cadastrar{
    width: 250px;
    background: transparent;
    color: #fff;
    background-image: linear-gradient(to right,#e36627, rgb(48, 15, 70) );
    background-size: 160%;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: .5s;
    cursor: pointer;
    border: none;
    outline: none;
}

.cadastrar:hover{
    background-position: right;
}

/* WAVE */

section{
    position: relative;
    width: 100%;
    height: 30%;
    background-attachment: fixed;
}

section .wave{
    position: absolute;
    width: 100vw;
    height: 113px;
    bottom: 0;
    left: 0;
    background-image: url("../img/waveLaranjaPequena.png");
    opacity: 0.7;
    animation: animate 10s linear infinite;
}

section .wave:before{
    content: '';
    width: 100vw;
    height: 113px;
    background-image: url("../img/waveLaranjaPequena.png");
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    animation: reverse-animate 10s linear infinite;
}

@keyframes animate{
    0%
    {
        background-position: 0;
    }

    100%
    {
        background-position: 1360px;
    }
}

@keyframes reverse-animate{
    0%
    {
        background-position: 1360px;
    }

    100%
    {
        background-position: 0;
    }
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

    .logo-text{
		width: 400px;
    }
    
    .content{
        font-size: 18px;
    }

    .content span{
        font-size: 21px;
    }
}

@media screen and (max-width: 900px){
	.container{
        height: 200vh;
		grid-template-columns: 2fr;
		grid-template-rows: repeat(2 2fr);
    }

    .container-content{
        height: 100%;
        justify-content: center;
    }

    .content{
        font-size: 2rem;
    }

    .content span{
        font-size: 2.4rem;
    }

	.login-content{
        height: 100%;
		justify-content: center;
    }
}

@media screen and (max-width: 460px){
    section{
        display: none;
    }
}

/* Cadastro */
/* 
.cadastro{
    width: 100vw;
    height: 100vh;
    background: url(../img/bg-contratante.jpeg);
    background-size: cover;
    overflow: hidden;
}

.filtro{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.438);
    animation: animate-bg 20s linear infinite;
}

.container-form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-form .cadastre-se{
    color: white;
    font-size: 3rem;
    text-shadow: 0.2em 0.5em 0.1em #e36627,
    -0.3em 0.1em 0.1em rgb(48, 15, 70),
    0.4em -0.3em 0.1em aliceblue;
}

input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
}


.check{
    position: relative;
    display: block;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in 0.5s;
}

.formulario{
    width: 60%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.541);
}

input[type="checkbox"]:checked ~ .musico{
    /* background-color: purple;
    box-shadow: 0 0 0 1200px; 
    display: block;
}

*/

@keyframes animate-bg{
    0%{
        background-color: rgba(0, 0, 0, 0.438);
    }
    10%{
        background-color: rgba(137, 43, 226, 0.438);
    }
    30%{
        background-color: rgba(226, 125, 43, 0.438);
    }
    50%{
        background-color: rgba(0, 0, 0, 0.438);
    }
    76%{
        background-color: rgba(137, 43, 226, 0.438);
    }
} 

/* CADASTRO GERAL */

.musico{
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: url(../img/bg-musico.jpeg);
    background-size: cover;
    filter: grayscale(70%);
    transition: ease-in 0.5s;
    overflow: hidden;
}

.contratante{
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: url(../img/bg-contratanteCadastro.jpg);
    background-size: cover;
    filter: grayscale(70%);
    transition: ease-in 0.5s;
    overflow: hidden;
}

.musico:hover{
    filter: none;
}

.contratante:hover{
     filter: none;
}

.title{
    position: relative;
    top: 70px;
    color: white;
    font-size: 3rem;
    text-shadow: 0.2em 0.5em 0.1em #e36627,
    -0.3em 0.1em 0.1em rgb(48, 15, 70),
    0.4em -0.3em 0.1em aliceblue;
    filter: none;
}

.cadastrador{
    position: relative;
    top: 400px;
    width: 70%;
    height: 10%;
    background: transparent;
    border-radius: 40px;
    border: solid 5px purple;
    cursor: pointer;
    color: #e36627;
    font-size: 1.3em;
    transition: ease-in 0.5s;
}

.cadastrador:hover{
    color: white;
    background-color: #e36627;
}

@media screen and (min-width: 900px){
    .contratante:hover{
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .musico:hover{
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .container{
        overflow: hidden;
    }
}

